<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan Absensi</title>
    <link rel="stylesheet" href="../static/bootstrap-5.3.2-dist/css/bootstrap.css">
    <script src="../static/bootstrap-5.3.2-dist/js/bootstrap.bundle.js"></script>
    <script src="../static/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../static/mycss/mycss.css">
    <script src="../static/myjs/myjs.js"></script>
    <script src="../static/popper.min.js"></script>
</head>

<body>
    <div class="container text-center my-3">
        <div class="row">
            <div class="col">
                <img src="../static/assets/logo.png" class="header-logo" alt="logo-kiri">
            </div>
            <div class="col-6 align-self-center">
                <h2 class="header-text">SD ISLAM TERPADU NURUL ANSHAR</h2>
            </div>
            <div class="col">
                <img src="../static/assets/logokanan.png" class="header-logo" alt="logo-kanan">
            </div>
        </div>
        <div class="col py-5 my-4 border border-3 rounded-3">
            <div class="row-cols-6 pb-2" id="picture-box">
                <img src="../static/assets/person-bounding-box.svg" alt="" id="picture-student" class="profile-icon">
            </div>
            <div id="menunggu-scan-text">
                <h5>Scan QR</h5>
                <p id="text-menunggu">Menunggu .</p>
            </div>
        </div>
        <div class="row-cols-3 pb-3">
            <input type="text" autofocus id="text-input-scan">
        </div>
        <div class="row-cols-1">
            <button class="btn btn-success" onclick="loadStudentPicture(1)">Press Me</button>
            <p id="status"></p>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Tambah Data
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Data Siswa</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-2">
                            <button class="btn btn-outline-primary" type="button" id="button-addon1">Check NIS</button>
                            <input type="text" class="form-control" placeholder="NIS" id="input-nis">
                        </div>                          
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" placeholder="Nama" id="input-nama">
                        </div>
                        <div class="input-group">
                            <input type="file" class="form-control" id="inputGroupFile04" placeholder="Foto murid">
                            <!-- <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button> -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                        <button type="button" class="btn btn-primary">Simpan</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function () {
            loadingAnim()
            detectTextInput()
        });
    </script>
</body>

</html>