<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan Absensi</title>
    <link rel="icon" href="../static/assets/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/bootstrap-5.3.2-dist/css/bootstrap.css">
    <script src="../static/bootstrap-5.3.2-dist/js/bootstrap.bundle.js"></script>
    <script src="../static/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../static/mycss/mycss.css">
    <script src="../static/myjs/myjs.js"></script>
    <script src="../static/popper.min.js"></script>
</head>

<body>
    <div class="main-container text-center py-4">

        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="../static/assets/logo.png" class="header-logo" alt="logo-kiri">
                </div>
                <div class="col-6 align-self-center d-none d-md-block">
                    <h2 class="header-text">SD ISLAM TERPADU NURUL ANSHAR</h2>
                </div>
                <div class="col">
                    <img src="../static/assets/logokanan.png" class="header-logo" alt="logo-kanan">
                </div>

                <div class="mt-2 col-12 align-self-center d-block d-md-none">
                    <h2 class="header-text">SD ISLAM TERPADU NURUL ANSHAR</h2>
                </div>
            </div>

            <div class="col border-style-scan my-4 rounded-3 border-opacity-75" id="border-scan">

                <div class="d-flex justify-content-center pb-2 mt-5" id="picture-box">
                    <div class="image-container">
                        <img src="../static/assets/person-bounding-box.svg" alt="student-pict" id="picture-student"
                            class="profile-icon">
                    </div>
                </div>

                <div id="menunggu-scan-text" class="mb-4">
                    <h5>Scan QR</h5>
                    <p id="text-menunggu">Menunggu .</p>
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div id="welcome-section">
                </div>
                <div id="alert-section">
                </div>
            </div>
            <div class="container text-center">
                <div class="row pb-3 justify-content-center">
                    <div class="col-5">
                        <div class="input-group">
                            <input type="text" autofocus id="text-input-scan" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row-cols-1">
                <button class="btn btn-success" onclick="loadStudentPicture(1)">Press Me</button>
                <p id="status"></p>
            </div> -->

        </div>

    </div>
    <script>
        $(document).ready(function () {
            loadingAnim();
            detectTextInput();
            detectIdle();
        });
    </script>
</body>

</html>